NEXT_PUBLIC_SUPABASE_URL=https://sibxwuoejwrttuquecft.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpYnh3dW9landydHR1cXVlY2Z0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ1NjYyMTksImV4cCI6MjA4MDE0MjIxOX0.y9wv9ajwbU3JWusq6CDAszImb3uNoIHcBR4wV_R4EIs
# Admin Credentials
NEXT_PUBLIC_ADMIN_PASSWORD=Demo@2001
